{% extends "base/base.html" %}
{% block content %}
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->
    <section id="edit-container">
        <div class="edit-container-info">
            <h1>Edit Your Announcement</h1>
            <form action="{% url "edit-crypto-page" crypto_slug=crypto_slug %}" method="post" enctype="multipart/form-data">
                {{ form }}
                <input type="submit" id="btn" value="Edit">
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}