{% extends "base/base.html" %}
{% block content %}
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="login-box">
        <h1>Login</h1>
        <form action="{% url 'login-user-page' %}" method="post">
{#            <label>Username</label>#}
{#                <input type="text" name="" placeholder="Username..">#}
{#            <label>Password</label>#}
{#                <input type="password" name="" placeholder="Password..">#}
            {{ form }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Login">
            {% csrf_token %}
        </form>
        <p>Don't have an account? <a href="{% url 'register-user-page' %}">Register here</a></p>
    </div>
{% endblock %}