{% extends "base/base.html" %}
{% load placeholders %}
{% block content %}
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->
    <div class="register-box" style="height: 520px">
        <h1>Register</h1>
        <h4>It's free and only take a minute</h4>
        <form action="{% url 'register-user-page' %}" method="post" enctype="multipart/form-data">
            <label>Username</label>
                {{ form.username|placeholder:"Username" }}
            <label>Email</label>
                {{ form.email|placeholder:"Email" }}
            <label>Password</label>
                {{ form.password1|placeholder:"Password" }}
            <label>Confirm Password</label>
                {{ form.password2|placeholder:"Confirm Password" }}
            <input type="submit" value="Register">
            {% csrf_token %}
        </form>
        <p>Already have an account? <a href="{% url 'login-user-page' %}">Login here</a></p>
    </div>
{% endblock %}