{% extends "base/base.html" %}
{% block content %}
    <div class="delete-profile">
        <h1 align="center" style="padding-top: 200px">Are you sure you want to delete your profile? You will lose all your crypto!!!</h1>
        <div class="sure-buttons">
            <form method="post" action="{% url 'delete-user-page' pk=request.user.pk %}">
                <button class="btn-buy" style="margin-top: 40px; margin-left: 570px;">Yes</button>
                <a class="btn-buy" style="margin-top: 40px; margin-left: 570px;" href="javascript:history.back()">Go Back</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}