{% extends "base/base.html" %}
{% block content %}
    <section style="width: 500px; margin-top: 100px" id="edit-container">
        <div align="center" style="width: 470px" class="edit-container-info">
            <h1 style="padding-top: 40px; padding-left: 30px">Enter amount to add to your balance:</h1>
            <form action="{% url 'increase-balance-page' %}" method="post">
                {{ form }}
                <input type="submit" id="btn" value="Add">
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}
