{% extends "base/base.html" %}
{% block content %}
    <h1 align="center"><span>Crypto</span> Purchase</h1>
    <section style="margin-top: 50px" id="edit-container">
        <div style="margin-top: 50px" class="edit-container-info">
            <form style="width: 510px" action="{% url 'purchase-page' %}" method="post">
                {{ form }}
                <input type="submit" id="buy-btn" value="Purchase">
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}